:root {
    --primary-color: rgb(218, 218, 218);
    --secondary-color: #000;
}

:root .light-theme {
    --color-primary: #fffdfc;
    --color-secondary: #41284a;
    --color-third: #D4F1F4;
    --color-fourth: #93b29a;
    --color-fifth: #f1e0ff;
    --color-sixth: rgba(65, 40, 74, 0.9);
    --color-seventh: rgba(65, 40, 74, 0.8);
    --color-eigth: #F2F1F0;
    --color-ninth: rgba(65, 40, 74, 0.7);
    --color-tenth: white;
    --color-logo: black;
}

:root .medium-theme {
    --color-primary: #d8dde1;
    --color-secondary: #1f3643;
    --color-third: #E1F5C4;
    --color-fourth: #ef977c;
    --color-fifth: #feffcd;
    --color-sixth: rgba(31, 54, 67, 0.9);
    --color-seventh: rgba(31, 54, 67, 0.8);
    --color-eigth: #ededed;
    --color-ninth: rgba(31, 54, 67, 0.7);
    --color-tenth: white;
    --color-logo: black;
}

:root .dark-theme {
    --color-primary: #1d1d1d;
    --color-secondary: #feffcd;
    --color-third: #ffe7f7;
    --color-fourth: #9965ac;
    --color-fifth: #41284a;
    --color-sixth: rgba(254, 255, 205, 0.9);
    --color-seventh: rgba(254, 255, 205, 0.8);
    --color-eigth: #2b2b2b;
    --color-ninth: rgba(254, 255, 205, 0.7);
    --color-tenth: black;
    --color-logo: white;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

a :hover {
    cursor: pointer;
}

body {
    /* font-size: 16px; */
    font-family: "Basic Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .03em;
    min-height: 100%;
    background-color: var(--color-primary); 
    /* background-color: #d2d6d9;  */
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 0em;
    width: 100%;
    background-color: var(--color-fourth);
    height: 3.5em;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    margin-left: 0%;
    height: 2em;
    padding: 1em;
    gap: 1em;
}

.rfsllogo {
    height: 5em; 
    width: 9em;
}

.bottomnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5em;
    width: 100%;
    background-color: var(--color-primary);
    height: 3.5em;
}

/*Gör menyn sticky så att den följer med när man scrollar. W3Schools guide: https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
#navbar-sticky {
    position: -webkit-sticky; 
    position: sticky !important;
    top: 0;
    z-index: 6000;
}

.footer-wave {
    margin-bottom: -1%;
    margin-top: 3%;
}

#light-theme {
    background-color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#medium-theme {
    background-color: #B0B7C0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#dark-theme {
    background-color: #2b2b2b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.logo-wrapper button.selected {
    border: 4px solid grey;
}

/*stilar för listan i den övre navigationsmenyn*/
nav.top-desktop-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    list-style-type: none;
    text-align: center;
    justify-content: flex-end; 
    padding-right: 8%;
    width: 70em;
}

/*Utseende för logotyp*/
nav.top-desktop-nav li {
    padding: 0;
}

/* styling för länkarna inom listelement*/
nav.top-desktop-nav li a {
    display: block;
    font-size: 0.8em;
    max-width: max-content;
    font-weight: bold;
}

/*Hur meny knapparna ser ut*/
nav.top-desktop-nav a button {
    text-decoration: none;
    color: var(--color-secondary);
    padding: 0.5em;
    background-color: var(--color-primary);
}

/*länkar ändrar bakgrundsfärg när man hovrar*/
nav.top-desktop-nav a button:hover {
    padding: 0.5em;
    color: #68A4F1;
}

/*styling av language-elementen*/
div.language {
    display: flex;
    max-width: min-content;
}


div.language ul {
    display: flex;
    list-style-type: none;
}


div.language li {
    margin: 0 0.2em; 
}


div.language li a {
    text-decoration: none;
    padding-right: 1em;
}

/*styling av language-elementen*/
div.language {
    display: flex;
    text-align: right;
    margin-left: 0;
}


div.language ul {
    display: flex;
    list-style-type: none;
}


div.language li {
    padding: 0em 0.4em;
}


div.language li a {
    text-decoration: none;

}

/* stil för knappar i "language" listelement*/
div.language li a button {
    border-radius: 50%;
    color: var(--color-secondary);
    padding: 23%;
    font-weight: bold; 
    background-color: var(--color-fourth);
}

/* knapparna för språk blir större när man hovrar */
div.language li a button:hover {
    padding: 0.8em;
}

/* En bit av codepens kod användes som inspiration för att göra menyn till "Bli medlem", 
"Ge en gåva" "Begreppsordlista". Koden anpassades och justerades för att passa webbplatsens
mål med utseende. Webbplatsen  https://codepen.io/isaccobosio/details/PoPOVRB användes.
Hamburgarmenyn och checkboxen har ignorerats eftersom vår hamburgare har byggds med en annan metod. */

/*codePen meny inspiration Start. För menyn: "Bli medlem" "Ge en gåva" "Begreppsordlista"*/

* {
    padding: 0;
    margin: 0;
}



/*Ändra utseende på navigationen */
.navbar {
    display: inline;
    float: right;
    font-size: 0.9rem;
}

/*Ta bort punklista */
.main-nav {
    list-style-type: none;
    
}

/*Ändra utseende texten */
.main-nav li {
    text-align: center;
    
}

.mobileheader {
    display: none;
}


/*Here<!--SearchboxSTARTS-->    - William */

.searchbar {
    display: flex;
    margin-left: auto;
    align-items: center;
    max-width: min-content;
    color: var(--color-secondary);
}

form{
    position: relative;
    width: 50px;
    height: 50px;
    background: var(--color-fourth);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--color-fourth);
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

form .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: var(--color-secondary);
    color: var(--color-tenth);
}


form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: var(--color-secondary);
  text-align: center; 
  width: 100%;
}

form:valid a {
  display: block;
}

/*Here <!--SearchboxENDS-->*/


/* Hover för mobil vy i menyn */
@media screen and (max-width: 767px) {
    .nav-links:hover {
        box-shadow: 0 -5px 0px  var(--color-secondary) inset,
        500px 0 0 rgba(255, 255, 255, 0.03) inset;
        padding: 5px 5px 5px 5px; 
    }
}

/*HEADER END*/

/* slut top-nav  - my, josephine, louise*/

/* start footer - jessica */
footer {
    margin-top: auto;
    background-color: var(--color-fourth);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 1em;
    font-size: .9em;
    color: var(--color-secondary);
    width: 100%;
    font-weight: bold;
}

footer .footer-nav {
    /* display: grid;
    place-items: center;  */
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}


footer .footer-nav h1 {
    padding-top: 0.5em;
    color: var(--color-secondary);
    font-size: 2.5em;
    text-shadow: 0 1px 2px #000;
}

footer .footer-nav p {
    font-size: 1em;
    text-align: center;
    line-height: 1.2em;
    margin: 1em auto;
    padding: 0 1em;
    max-width: 40%;
}

footer .footer-nav .social-media-links a {
    text-decoration: none;
    display: inline-block;
    margin: 1.5em 1.5em;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer ul li {
    break-inside: avoid; 
    flex: 1 1 7%;
    margin: 0 auto;
    max-width: fit-content;
}

footer ul li a {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease-out;
}

footer ul li a:hover {
    text-decoration: underline;
    transition: color 0.3s ease-in;
    color: red;
}

i.fa-facebook,
i.fa-instagram {
    font-size: 2em;
    margin: 0 .2em;
    color: var(--color-secondary);
    transition: color 0.3s ease-out;
}

i.fa-facebook:hover {
    color: #4267B2;
    transition: color 0.3s ease-in;
}

i.fa-instagram:hover {
    color: #C13584;
    transition: color 0.3s ease-in;
}

footer .copyright {
    display: block;
    text-align: center;
    padding: 0.2em 0 0 0;
    width: 100%;
    margin: 2em 0 .5em 0;
    color: var(--color-secondary);
} 
/*slut footer - jessica */


/*hamburger START: Madelene*/

/*En Youtube video användes som guide när hamburger funktionen skapades, men det gjordes egna justeringar för att anpassa webbplatsen som ska skapas till RFSL. 
Fick också ändra så att hamburgaren blir responsiv genom att konvertera från px till rem. Har också adderat %. Guidens hamburgare är inte alls responsiv. Har 
också tagit bort position "absolute"och position "relative" som inte heller är responsiva, och ändrat till "flex". Istället för att skapa "hamburgar ikonen" och
"X-ikonen" manuellt med kod som guiden använde jag istället färdiga bilder.
Youtube: https://www.youtube.com/watch?v=XM7sEpl0f7c&ab_channel=PureCode
Px to rem calculator: https://nekocalc.com/px-to-rem-converter
*/

/* Stilar för  hamburgermenyn. Förflyttningar osv...*/
.hamburgerNavigation {
    display: flex;
    align-items:center;
    }

/* Stilar för hamburgermenyn. Förflyttningar osv.. */    
.hamburgerMenu {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    transition: 0.5s;
     
}
    
    /* Ta bort punktlistor från länkarna i menyn */
    .hamburgerMenu li {
    list-style-type: none;
    }
    
    /* Stilar för länkarna i menyn */
    .hamburgerMenu li a {
        color: var(--color-secondary);
        text-decoration: none;
        display: block;
        padding: 2.5rem 1.5625rem; 
        line-height: 1;
        transition: 0.3s;
        align-items: center; 
    }

    /* Animeringseffekt när musen "hover"" över länkarna */
    /* Skugga och bakgrundseffekt */
    .hamburgerMenu li a:hover {
        box-shadow: 0 -5px 0px  var(--color-secondary) inset,
        500px 0 0 rgba(255, 255, 255, 0.03) inset;
        padding: 35px 25px 45px 25px;
    }
    
    /* Stil för hamburgerikonen */
    .hamburgerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 0%;
        transition: 0.3s;
    }
    
    /* Stil för den gömda checkboxen som används för att visa och gömma menyn */
    .toggleHamburgerCheckbox {
        display: none; 
        opacity: 0;
    }
    
    /* Ändrar bakgrundsfärgen på hamburgerikonen när checkboxen är markerad */
    .hamburgerNavigation input:checked ~ .hamburgerIcon {
    background: transparent;
    }
    
    
    /* När checkboxen är markerad, visa menyn genom att ändra positionen till vänster */
    .hamburgerNavigation input:checked ~ .hamburgerMenu {
        left: 0;
        box-shadow: -1.25rem 0 2.5rem rgba(0, 0, 0, 0.3); 
    }
    
    /* Justerar layouten för hamburgermenyn för olika skämar */
    
    /*Mobil*/
    /*Layouten fixas för hamburgermenyn för mindre skärmar, maximalt 768px, 48 rem*/
    @media screen and (max-width: 48rem) {
        .hamburgerIcon,
        .toggleHamburgerCheckbox {
            display: block;
        }
    
        /* Full width and height for hamburgerMenu */
        .hamburgerMenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #DDDDDD;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem !important;
            font-weight: 800;
        }
    
        /*Luft i listan med alla komponeneter i meny listan*/
        .hamburgerMenu li {
            margin-top: 3rem; 
        }
    
    }

       /*Dator*/
       /*Skärmar som är större än eller lika med 784px, 49 rem*/
       @media screen and (min-width: 49rem) {
        .hamburgerIcon,
        .toggleHamburgerCheckbox {
            display: block;
        }
    
        .hamburgerMenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #DDDDDD;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem !important;
            font-weight: 800;
            z-index: 5000; 
        }
        
          /*Luft i listan med alla komponeneter i meny listan*/
        .hamburgerMenu li {
            margin-top: 2rem; 
        
    }

}

    /* Stil för länkarna i hamburgermenyn,bredd. */
    .hamburgerMenu li {
        width: 100%; 
    }
    
    /* Stilar för länkarna i hamburgermenyn, hur det ser ut. */
    .hamburgerMenu li a {
        padding: 1.25rem; 
        box-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.1) inset; 
    }

    /*Visar hamburgermenyn när man trycker på checkboxen som sitter på hamburger ikonen*/
    .toggleHamburgerCheckbox:checked ~ .hamburgerIcon ~ .hamburgerMenu {
        display: block;
    
    }

    /*Gömmer hamburgermenyn när checkboxen som sitter på hamburger ikonen inte är markerad*/
    .toggleHamburgerCheckbox:not(:checked) ~ .hamburgerIcon ~ .hamburgerMenu {
        display: none;
       
    }

     /* Gör så att hamburgaren ignorerar headern. Annars triggas heasdern och blir större när hamburgar menyn öppnas */
    .hamburger-wrapper {
        position: fixed;
        margin-top: 0;
        margin-right: 0em;
      }

      /* X ikonen, för att stänga hamburger menyn */
#hamburgerImage {
    font-size: 1.5em;
    color: var(--color-secondary);
    padding-right: 45%;
}

/* Byter bild från hamburgaren till ett X. X kommer fram när man öppnar hamburgar menyn. Hamburgaren kommer fram, när man stänger menyn*/
.hamburgerNavigation input:checked ~ .hamburgerIcon .hamburgerImage {
    content: url("closeHamburgerIcon.png");
}


/* hamburger SLUT: Madelene*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;  
  margin: auto; 
}

/* Hide the images by default */
.mySlides {
  display: none;
  --s: 100px; /* control the size */
  --c1: var(--color-third);
  --c2: #b2b2b2;
  
  --_g:#0000, #0004 5%,
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,
     var(--c2) 86% 94%,#0004 95%,#0000;
  background:
    radial-gradient(100% 50% at 100% 0   ,var(--_g)),
    radial-gradient(100% 50% at 0    50% ,var(--_g)),
    radial-gradient(100% 50% at 100% 100%,var(--_g));
  background-size: var(--s) calc(2*var(--s));
  height: min-content;
  background-color: #d8dde1;
}

.imageandcaption {
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 70%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-tenth);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(78, 77, 77, 0.8);
}

.text {
  color: var(--color-tenth);
  background-color: var(--color-sixth); 
  font-size: 15px;
  font-weight: bold;
  padding: 30px 30px;
  position: absolute;
  left: 70%;
  width: 30%;
  text-align: left;
  line-height: 150%;
} 

.text h2 {
    padding-bottom: 5%;
    text-align: center;
    font-size: large;
}

.text p {
    padding-bottom: 5%;
}

.text a {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: var(--color-tenth);
    padding-bottom: 2px;
    width: 18%;
    margin-left: 40%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--color-tenth);
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: bold;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  @media only screen and (min-width: 1024px) {
    .slider, .slider-wrapper {
      height: 480px;
    }
  
    .slide-caption {
      width: 65%;
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .slider, .slider-wrapper {
      height: 360px;
    }
  
    .slide-caption {
      width: 75%;
      font-size: 1.25rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .slide-img {
      width: 100%;
      height: auto;
    }
  }


/*Här börjar Dianas CSS kod.
Jag har satt margin för att få mellanrum mellan elementen.
Jag har skapat en flexbox så att "containers" blir responsivt.
Sedan har jag använt space between för mellanrum
*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px; 
    /* justify-content: center; */
    margin-top: 6%;
    margin-bottom: 3%;
}

.stripe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 0px;
    justify-content: center;
    background-color: var(--color-eigth);
    width: 100%;
}

.single {
    display: flex;
    width: 50%;
    align-content: center;
    position: relative;
    align-items: center;
}

.single img {
    width: 100%;
}

.double {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-weight: bold;
}

.double img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.article {
    padding: 8%;
    height: 100%;
    align-items: center;
} 

.articlehead {
    text-align: center;
    font-size: 1.6em;
    padding: 2em 0em;
    font-weight: bold;
    color: var(--color-fourth);
}

.articlebody {
    font-weight: bold;
    color: var(--color-secondary);
    line-height: 1.7;
    font-size: 1em;
}

.boxbutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 8%;
    gap: 6%;
}

.readmore {
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 4px;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-eigth);
}

.share {
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 4px;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-eigth);
}

.cardheader {
    position: relative;
}

.colored {
    background-color: var(--color-seventh);
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-tenth);
    width: 100%;
    text-align: center;
}

.colored1 {
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-tenth);
    text-align: center;
    width: 90%;
}

.overlay {
    width: 90%;
    height: 90%;
    background-color: var(--color-ninth);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Slut - Diana*/

@media (max-width: 1574px) {

    .articlehead {
        font-size: 1em;
    }

    .articlebody {
        font-size: 0.9em;
    }

    .text h2 {
        font-size: 1em;
    } 

    
}

@media (max-width: 1310px) {

    .text {
        font-size: small;
    }
    
}

@media (max-width: 1025px) {

    header {
        width: 100%;
        display: flex;
    }

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    .flex-container {
        flex-direction: column;
    }

    .colored {
        max-width: 100%;
    }

    .double {
        width: 95%;
        gap: 50px 0px;
    }

    .double img {
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }

    .overlay {
        width: 100%;
        height: 100%;
    }

    .single {
        width: 95%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .container {
        gap: 0px 0x;
    }

    #myDIV {
        max-width: 70%;
    }

    .stripe {
        background-color: var(--color-eigth);
    }

    .readmore {
        background-color: var(--color-eigth);
    }

    .share {
        background-color: var(--color-eigth);     
    }

    body {
        background-color: var(--color-eigth);
    }

    .imageandcaption {
        display: flex;
        align-content: center;
        align-items: center;
        max-width: 100%;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 100vw;
        left: 0%;
        padding: 5% 30%;
        background-color: var(--color-ninth);
    }

    .footer-wave {
        margin-top: 5%;
    }
    
}



@media (max-width: 768px) {

    header {
        width: 100%;
        display: flex;
    }

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    footer .footer-nav h1 {
        font-size: 2em;
    }

    .colored {
        font-size: 2.5rem;
    }

    footer .footer-nav p {
        font-size: .9em;
        width: auto;
    }

    footer ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-nav {
        max-width: 100%;
        flex-direction: row;
    }

    .footer-nav {
        max-width: 100%;
    }

    #myDIV {
        max-width: 80%;
    }

    .text {
        padding: 1% 10%;
    }

    #hamburgerImage {
        font-size: 1.5em;
    }

    .footer-wave {
        margin-top: 6%;
    }

}

@media (max-width: 480px) {

    header {
        width: 100%;
        display:flex;
    }
    
    nav.top-desktop-nav {
        display: none; /*gömmer navigeringslänkar i headern på mindre skärm*/
    }

    #svButton {
        display: none; /*gömmer svenska språkvalsknappen på mindre skärm*/
    }

    footer ul {
        grid-template-columns: 1fr;
    }

    .colored {
        font-size: 1.5rem;
    }

    .colored1 {
        font-size: 1.3rem;
    }


    footer ul li {
        margin: 0.5em 0;
    }

    #myDIV {
        max-width: 100%;
    }

    .text {
        padding: 0% 15%;
    }

    .text h2 {
        font-size: 0.9em;
        padding-bottom: 1%;
    }

    .text p {
        font-size: 0.9em;
        padding-bottom: 1%;
    }

    nav.top-desktop-nav ul {
        padding-right: 0%;
    }

    .transparentBox {
        width: 3rem; 
    } 

    #light-theme {
        padding: 9px;
    }
    
    #medium-theme {
        padding: 9px;
    }
    
    #dark-theme {
        padding: 9px;
    }

    #enButton {
        display: none;
        }

        .footer-wave {
            margin-bottom: -2%;
        }

        .footer-wave {
            margin-top: 7%;
        }
    
}

@media (max-width: 320px) {

    #hamburgerImage {
        font-size: 1.3em;
    }

}

